body {
  background-image: url("./peakyblinder.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.box {
  width: 40px;
  height: 40px;
  margin: 20px;
}

.box1 {
  background-color: red;
  border: 1px solid burlywood;
}

.box2 {
  background-color: blue;
  border: 1px solid burlywood;
}

.box3 {
  background-color: green;
  border: 1px solid burlywood;
}

#myDearButton {
  background-color: orangered;
}

a[target="_blank"] {
  font-size: 30px;
  color: chartreuse;
}

.container .content {
  background-color: #ff9990;
  color: #ff9990;
  border-color: #ff9990;
}

.example::after {
  content: "%";
  color: #ff9990;
  font-size: 20px;
}

h1 {
  font-size: 12px;
  font-weight: bold;
  line-height: 1.5;
  font-style: italic;
  text-decoration: underline;
  text-transform: uppercase;
  text-align: center;
}

.boox {
  width: 60px;
  height: 60px;
  margin: 20px;
  background-color: yellow;
  border: 10px solid red;
  padding: 25px;
}
